@import "../../node_modules/normalize.scss/normalize";
@import "breakpoints";

$rhythm: 1rem;
$baseFont: 'Scope One', serif;

html {
    font-family: $baseFont;
    font-size: 14px;
    min-height: 100%;
    height: 100%;
    @include bp-phone {
        font-size: 10px;
    }
    @include bp-tablet {
        font-size: 12px;
    }
}

body {
    height: 100%;
    background: #313131;
    color: #fafaff;
}

.header {
    width: 100%;
    min-height: 50vh;
    height: 30vw;
    background: url(https://unsplash.it/1600/900?image=998) center center no-repeat;
    background-size: cover;
    .column {
        display: flex;
        h1 {
            align-self: flex-end;
            margin-left: auto;
            text-align: right;
            text-shadow: 1px 1px 0 black;
        }
    }
}

.app-root {
    height: 100%;
    .column {
        padding: 0 5*$rhythm;
        max-width: 1180px;
        margin: 0 auto;
        height: 100%;
        min-height: 100%;
        position: relative;
        z-index: 1;
    }
}

h1 {
    font-family: $baseFont;
    margin: $rhythm 0;
    font-size: 4rem;
    display: inline-block;
}

a {
    color: lightgrey;
}

p {
    margin: $rhythm 0;
    font-size: 1.4rem;
    line-height: 2rem;
}
